#dropdown-basic_{
    background-color: #131111;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
     text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
}
