@tailwind base;
@tailwind components;
@tailwind utilities;

body,
ul,
h1,
h2,
h3,
h6,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  letter-spacing: -0.1px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding-left: 0rem;
}

.card-deco:hover {
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  border-radius: 4px;
  padding-bottom: 24px;
}

.img-zoom {
  transform-origin: 1 1;
  transition: transform 0.25s, visibility 0.25s ease-in;
}
.img-zoom:hover {
  transform: scale(1.5);
}

/* ///NEW/// */

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  min-height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.parallax {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.loading-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ytp-chrome-top-buttons{
  background:rgba(236, 231, 231);
}
.ytp.title-text{
  color: black;
}

